---
import { existsSync, readdirSync, readFileSync } from 'node:fs'
import { resolve } from 'node:path'
import '@fontsource-variable/figtree'
import { parse } from 'yaml'
import Button from '../components/Button.astro'
import Cards from '../components/Cards.astro'
import Logo from '../components/Logo.astro'
import Quotes from '../components/Quotes.astro'
import Pile from '../components/Pile.astro'
import S from '../components/S.astro'
import Social from '../components/Social.astro'
import Stats from '../components/Stats.astro'

// const [components, data] = await Promise.all([
// 	Astro.glob('../components/*.astro'),
// 	readFile(resolve('src/data/index.yaml'), 'utf-8')
// ])
// const { sections } = parse(data)

const data = parse(readFileSync(resolve('src/data/index.yaml'), 'utf-8'))
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>A year in review – SimpsonScarborough</title>
  </head>
  <body x-data class="antialiased">
    <main>
      <section class="relative bg-blue">
        <svg
          width="1440"
          height="330"
          viewBox="0 0 1440 330"
          class="fill-304 w-full h-auto absolute bottom-0 left-0"
        >
          <path
            d="M540.214 59.89c0-14.19 5.702-26 17.107-35.412s27.02-14.117 46.856-14.117h121.478c16.525 0 31.486 3.715 44.873 11.147 13.387 7.43 23.875 17.423 31.486 29.961q11.405 18.83 11.405 41.109c0 14.853-3.31 29.143-9.914 41.852-6.62 12.718-16.116 22.703-28.512 29.962-12.396 7.268-26.865 10.893-43.39 10.893-19.835 0-43.718-9.984-71.648-29.962-27.938-19.977-53.14-44.488-75.614-73.55-1.982-2.635-4.629-3.96-7.931-3.96-2.646 0-4.956.826-6.939 2.48s-2.974 3.797-2.974 6.44c0 1.326.655 3.307 1.983 5.942 6.939 13.209 19.909 28.071 38.925 44.578 19.008 16.515 39.916 31.697 62.726 45.569 26.774 16.179 50.075 32.777 69.911 49.775 19.835 17.006 34.869 33.603 45.119 49.775 7.931 12.219 11.896 24.274 11.896 36.157q0 21.297-17.353 34.921c-11.577 9.084-27.602 13.618-48.093 13.618H610.625c-16.534 0-31.486-3.715-44.874-11.146-13.387-7.432-23.882-17.416-31.485-29.962-7.612-12.546-11.405-26.41-11.405-41.608s3.302-29.053 9.913-41.607q9.918-18.817 28.512-29.716c12.396-7.259 26.849-10.893 43.382-10.893 19.836 0 43.71 9.993 71.648 29.962 27.93 19.985 53.132 44.332 75.614 73.058 1.983 2.644 4.785 3.961 8.43 3.961 2.639 0 4.875-.818 6.694-2.48 1.811-1.645 2.728-3.633 2.728-5.941 0-1.981-.663-4.125-1.982-6.441-6.94-12.882-20.253-27.899-39.917-45.069-19.671-17.162-42.071-33.35-67.183-48.54-24.136-14.526-45.864-30.125-65.2-46.804-19.335-16.671-34.132-33.096-44.381-49.284-7.276-11.556-10.905-23.112-10.905-34.667M156.968 298.413h-3.752c-3.753 38.416-32.363 61.372-61.44 61.372-12.666 0-25.792-4.215-36.582-14.052C39.717 359.785 21.431 364-2.96 364-44.228 364-78 341.985-78 301.229c0-13.119 3.285-26.238 9.381-37.008-1.876-5.623-2.343-11.245-2.343-16.401 0-17.8 9.38-33.26 23.448-38.882 5.162 27.637 40.335 47.311 73.164 47.311 8.439 0 16.41-.933 23.916-3.748-6.096-44.504-53.46-63.712-101.766-70.742.467-6.089 1.876-11.712 5.162-16.393-21.573-14.985-30.487-44.505-30.487-68.394 0-44.038 28.143-67.927 56.745-67.927 7.505 0 15.01 1.408 22.04 4.681C15.334 13.12 36.44 0 63.173 0c28.135 0 63.316 22.49 95.203 22.49 4.22 0 8.439-.467 12.667-1.408 3.752 6.555 5.628 14.527 5.628 22.015 0 20.14-12.191 40.756-30.486 47.786.467 3.282.934 6.09.934 9.371 0 14.527-6.096 27.637-14.543 33.26-21.105-26.705-47.839-42.63-69.878-42.63-15.01 0-22.04 7.962-22.04 17.8 0 29.978 63.316 31.385 92.394 58.09 30.011 27.171 36.114 96.039 56.277 109.624-3.285 13.119-15.943 22.015-32.362 22.015M1574 109.24c-31.42 33.522-68.55 30.674-89.97 30.674h-30c-42.84 0-54.27-6.416-59.98-31.386-4.28-21.401-12.14-36.378-33.56-36.378-21.41 0-39.28 15.697-43.56 36.378-5 23.537-3.57 44.226 22.85 52.787l85.69 26.393c53.56 15.689 76.41 26.394 64.98 79.181l-7.86 37.09c-7.85 38.522-57.13 57.067-89.97 57.067h-187.1c-32.85 0-73.55-18.545-65.7-57.067l9.28-42.795c2.14-12.128 13.57-21.401 25.71-21.401h92.84c19.28 0 17.85 16.409 14.99 30.674-4.28 20.689 6.42 37.09 27.85 37.09 21.42 0 39.28-16.409 43.56-37.09 5-24.249 4.29-43.515-22.85-52.075l-85.69-26.393c-53.56-15.689-75.69-28.53-64.98-79.181l7.86-37.09c8.57-38.522 57.13-57.067 89.97-57.067h185.67c32.84 0 73.55 18.545 65.7 57.067-2.86 14.977 6.42 24.962 22.13 24.962 10 0 20-5.705 27.14-13.553zm-610.059-92.3h.418l1.679-.417 5.047.418 2.942-.418-.418.418h.844v.417l3.785-.843 1.679.843v-.417l.844.417 3.785.418 5.465-.843.418.843h1.68l1.679 1.26v-.417l4.629.843.418-.843 5.895 1.26 2.52.417.42 1.678 2.94 2.103 2.52-.417 4.21-1.678 1.67 1.26 4.63 2.104 8.84 2.103v.417l1.68.418 1.26 2.938 2.52 1.678 2.52-1.26.42-.418v.417l.42-.417 2.52.843.42.843 6.31 2.52 16.39 11.344 13.04 14.28 9.67 15.125-3.37 2.52-.42 2.104 2.52 4.198 2.95.418 2.52 14.698-.42 4.624-2.1 4.198h-7.99l-.42-3.363-1.26-1.261h-2.11l-2.1.843-.85.843-.41 2.938-2.53-.843-5.04 1.678-4.63-10.917v-5.042l1.26-5.041-1.68-1.678-2.94-.843-4.63-8.822-6.73-7.562-7.57-6.302-13.45-7.136-.85-3.781-2.52 1.26-5.05-1.26-.84-5.042-1.68 1.26-.42 1.678-2.52.418-8.83-3.781-1.68-1.678-6.311 2.103-1.68-1.26-4.203-.417-4.621-1.678-2.523-.417-29.012.842h-.417l-3.786-.843-3.785 2.104h-10.094l-3.367-1.678-1.68 1.26V49.3l-5.882.843-9.668 3.781-4.203 2.521-2.941-3.364-2.524-.417-1.261 1.26.843 3.364-1.261.843v.843l-1.262 2.103h-2.523l-13.88 15.124-.843 2.938-4.629-.417-.844.843 1.261 3.78 1.68.418-1.68 4.624-2.105 10.5-.844 2.521-.418 4.198 2.106 5.877-.418 2.52-1.68.843.844 1.678 3.367 2.103 4.63 9.24 6.308 7.562 7.571 6.302 10.511 6.719.844 2.938 6.727 2.938 2.105.417.418.843 1.262.418 1.679 2.103.844 3.363h.844l.418-.843v-2.938l5.047 1.261 9.25 4.198 5.465.843.417.843h1.262l1.68 4.616 2.523-.418 1.68-1.26h2.941l15.141 5.041.418 2.521 3.785 2.938 3.785-.843.844-.843 1.679.418h4.203l5.047 1.26 3.786 2.103 3.37.843v2.938l2.52 2.521.84-.843 1.27-.417 1.26-1.678 10.09 3.364 9.25 2.938-.84 4.198.42.417h2.94l1.68-.417 5.04.417h.42l4.63 1.678 2.52 1.678 1.68.417 2.94 2.103 10.1 5.459 2.94 1.261-.42 2.52v1.261l2.11 1.677 5.04.843.85-.417 2.1.417h.42v2.938l2.52 3.364 1.27.417 3.36-.417 1.27 2.103-.42 4.624.42 1.678h2.94l.41.417 2.53-1.677 1.26 2.103v.843h.42v5.459l2.94 2.938h1.26l2.11 1.26 6.31 16.384-4.63 3.781 5.46 5.459-.42 1.26h.42l1.26 4.624v2.938h-3.36l-.85.418-.84 2.52 2.1 4.199h2.11v3.363l-1.68 4.624-1.68 2.521-1.26 5.041.42 2.104-.85 2.938v1.26h-.42v.843l-10.93 18.897-6.3 5.884-.42.418-2.11 1.26-6.31 5.459-7.98 5.876-9.67 4.624-4.21-1.678-2.94 1.678-.84 1.26.42 1.678-1.26.417-.85 1.261-16.4 5.458-2.11-.843-2.52-3.781-1.68.418-1.26 4.198h-.42v1.678l-9.25 1.26-2.52-.417-.42-2.938-2.11-1.261-.41-2.103-1.68 2.103-.421 3.364.421 1.678-15.562 1.677-5.047-.417-3.785-2.103-1.679 1.678-4.203 1.26-10.094-1.678-4.629.843-2.106-2.103-.844-3.364-3.367 3.364-2.941.417-7.145-1.26-2.941-5.459h-1.68l-1.261 1.26-.844 2.521h-.418v.843l-11.773-5.041-8.407-1.261-1.679-6.301-3.785 2.52h-5.047l-23.547-14.281v-3.781l-3.367-2.938-5.047-.417v-5.459l-7.988-5.041-1.262-2.104-.418-2.938-3.367-3.363-6.727-15.542 2.524-2.938v-2.52l-3.786-6.302-.417-6.302 4.629-2.103.844-2.521 5.464.418.418.417h1.262l4.203 2.103 2.106-.843 1.679-2.103 5.465 1.678 2.941 3.781h-2.941l-1.68.843-.418 2.52v1.261l.844 1.26 4.621.418.418.842 6.727 16.377v.417l1.261 2.521-4.629.843v1.677l1.68 1.678 3.367-.417.418-1.261 2.523.843 3.368 3.364v.417l2.941 2.521 16.402 10.5 11.774 5.041 3.367 6.302h.844l.418-5.459 7.988 2.939 9.25 2.103 39.949 3.781 2.106-.418v-.417h.844l11.355-2.938 9.671.417.42.418 4.62-1.678 1.27-.843 7.57-2.521 2.1 1.678h.42l2.11 1.26v-4.624l9.66-3.363 8.84-5.042 7.57-6.301 2.52-2.521 1.68-2.938 4.2-4.198 3.37-5.876.84-3.781.42-2.938.84-1.261 1.68-6.302v-9.239l-2.1-10.918-1.68-5.041-5.47-8.822-14.29-13.021-14.72-10.5-7.14-.843-.85-2.938-2.94-4.624-3.36 2.938-18.086-5.876-5.465-5.042-2.941 2.938-4.629-2.938-5.883-2.52-5.883-.843-3.785-2.104-.418-2.52-4.629 1.26-4.621-.417-14.296-4.624-1.68-5.459-2.106 1.26-7.988.418-5.047-1.678-5.047-2.938-1.261-.843-.844-.417-1.262-1.678-1.68-2.103-2.523.843-9.25-1.678 1.262-2.103 1.679-.843-2.941-3.364-2.106 2.521-.843.843-9.668-4.199-4.629-2.938-3.368-3.781-1.261-2.103-.418-.418h-2.941l-2.106-.842-8.406-8.397-2.524-.843v-5.459l-3.785-2.521-5.882-6.719-2.524-4.198-3.367-9.24-2.106-10.5v-5.459l-.418-.843.418-1.26V94.247l3.368-18.062 3.785-.843v-.417l1.679-.843-.418-2.104-1.261-1.26v-2.52l1.261-2.521 3.786-2.104.417-.843.844-.843.418-3.78 5.891-7.563 4.629-3.363 9.668-7.98 2.523-.843.418 1.678h.418l2.106 1.26h1.261l1.262-.843 1.262-1.677h.844l-.844-1.26-2.524-.843-1.261-2.104 3.367-.417v-.418l3.785-.417 3.367-.417 2.942-2.938h.418l2.941-2.938 4.629-2.104 5.465-1.26 5.047.843 7.57-2.103 5.883-2.938h1.261l1.68-.843 1.679 1.26.418 2.938 1.68 1.26 2.941-.843.418-1.26-.418-4.198 10.512-.843 2.941.843-1.262 1.677v1.26l4.629 2.521.418-.417.418-.843-2.105-4.198 2.523-.843zm24.382 335.594 13.457-.843h5.89l13.88-2.938 3.78 1.261 2.94-2.939 20.18-7.562 4.21-2.938 1.26 2.521-1.26 2.521 2.1-.418 1.26-1.677v-5.042l8.41-5.458 7.57-6.302 6.73-7.137 6.3-10.917 1.68-.417 2.94 3.363 2.53-3.781-1.26-2.103-2.11-1.26 3.79-28.137-1.27-9.24-2.94-10.5-6.72-14.698-2.53-3.364-4.2-2.938v-2.521l-7.57-6.719-16.82-10.917-10.51-5.885-.85-5.041-2.1-1.26-.85 4.198-23.54-9.657-1.68-1.678-2.53.418-5.04-.843-9.67-4.199-5.465-.843-.844-4.624h-2.941l-3.367 2.521-8.406-3.363-7.989-.843-2.941-6.302-1.679-1.26-2.524.417-3.785 2.521-36.582-14.699-4.629-1.678-7.57-6.301-13.035-8.397-6.309-7.137-2.106-5.041-4.629-2.938-2.941-8.822-2.941-14.699V95.917l1.679-7.137-.418-2.52 6.727-13.864 5.465-7.98 5.047-5.458 4.629-2.104 14.296-9.24 3.786.844 7.988-5.042 15.558-4.198 3.368 2.938 3.785-4.616 5.047.417 20.605-1.26 7.571 1.678 7.57-1.678 2.523.843 3.786 3.364-.844-3.364 5.465.417 16.39 4.624 5.89.418 2.11 5.459 2.11-1.678 5.89-.418 9.25 6.72 2.52.842 2.52 4.624 2.53.418 2.94-.843 3.37 3.78-.42 1.678h2.52l3.79 2.521 7.14 11.343 3.37 3.364.42 4.624 2.1 5.041.42 2.938-1.26 2.103-2.11 1.26-.42 2.939.85 2.103 5.04-.843 10.93.418 5.05 1.26 2.52-2.938-.84-2.938-4.63-.843-2.52 1.26.84-2.52-.42-5.46-3.36-12.177 1.26-4.198-8.83-6.302-.85-1.678.42-2.938-4.62-2.103-10.93-9.657-2.52-.843.84-2.938-9.67-3.364 2.53-4.616-1.68-1.677h-2.94l-2.53 1.26-.84 2.103-3.79-1.26-8.83-5.041-4.63-1.678-10.93-1.678-5.04-1.678-3.79-2.938-2.11.843h-7.984v-3.363l-2.523 3.363-4.203-.843h-7.57l1.261-2.52v-2.104l-7.144-2.938-1.68 5.885-8.832.843v-.843l-22.703 3.363-1.679.843-2.524-.843-5.047.418-11.355 2.938-2.106-.418-17.656 9.24-5.89 1.678-5.047 5.041-4.629 2.103.843-2.103-.843-1.678-1.68-.843-2.523 1.26 1.261 6.72-1.679 2.938-2.942-.418-1.679-1.26-2.524-.417-.844 2.52 1.68 5.042-8.406 12.178-3.367 7.136-1.68 8.397h-5.465l.844 2.938 3.785 3.364-1.679 10.082 5.047 28.98 2.941 3.781 2.523.843 7.989 12.603 7.144 6.719 8.406 5.876 37 18.062 4.629 2.521h4.621l21.441 7.137-2.524 4.624 2.942-.418 3.367-2.938 38.683 13.021 7.58 2.103v2.103l-1.27 3.364 2.11-1.26.84-2.521 10.1 3.364 13.45 6.719 1.68 1.677 4.63.843 4.2 2.521 9.25 7.562 3.79.843 15.14 21 3.36 20.157-.41 10.083-3.79 17.637-6.73 6.719-8.83 12.178h-2.52l-6.31 5.458-5.05 1.678-10.51 5.459-4.63 1.26-7.99.417-1.67 1.678-4.63 1.678-7.15 1.26-3.37-4.624-2.52.843-1.261 5.459-5.047.843-5.046-.418-2.942-2.103-.418-2.52-4.629.842.844 2.521 2.524.843 1.261 2.103-5.882-1.26h-9.668v-5.041l-2.523.843-2.106 4.198-1.68-.843h-10.093l.843-2.938-.417-2.103-2.106-1.261-2.106.843-1.261 4.624-20.606-5.041-2.105-.417-12.618-4.199-8.832-4.624-6.726-6.301-1.68.417-5.047-2.103-.844-2.104 2.106-1.677-1.68-1.261L887 314.79l-9.25-11.343-2.105-4.199-.418-2.521 1.262-4.615-5.465-1.678-2.942-10.083-4.203-2.938-5.046-1.677-2.524-1.678-1.679 4.198 3.785 13.021-3.785.843v5.041l1.261 1.261h2.524l.418-2.104 1.261-1.26 3.785 9.657 5.465 7.979 6.309 7.137 7.57 6.302 21.441 12.603 2.524 1.26v2.521l-1.262 1.26 4.629-2.103 2.524 1.678 7.988 1.677 1.262 2.104 9.667.417 10.094 2.938 7.571 1.261 2.941 1.677.418-1.677 10.093 1.26 4.63 1.678-.844 4.198 2.941-.417.418-5.042h15.558l-.417 2.938-1.68 1.678 2.106.843 1.679-.843.844-5.459zm-133.71-229.332.418 2.521 1.262 1.677 2.941.418v-5.459h-2.941zm41.629 214.208 2.106 3.364 2.523.843-.844-2.938-1.679-1.678-2.106.417zm156.418-99.542 2.52-.417.84-2.104-2.52.843zM277.873 110.394h-45.455V64.997h45.455zm.458 181.603h-45.454V246.6h45.454zm60.146-242.14h-45.455V4.46h45.455zm0 121.074h-45.455v-45.397h45.455zm0 181.603h-45.455v-45.396h45.455zM399.08 49.857h-45.455V4.46h45.455zm0 181.603h-45.455v-45.397h45.455zm0 121.074h-45.455v-45.396h45.455zm60.596-242.14h-45.455V64.997h45.455zm0 181.603h-45.455V246.6h45.455z"
          ></path>
        </svg>
        <div class="relative">
          <div class="flex justify-between w-full items-center p-5">
            <Logo />
            <div class="flex items-center gap-x-5">
              <Social />
              <Button href={data.header.button.href}>
                {data.header.button.text}
              </Button>
            </div>
          </div>
          <div class="flex flex-col items-center py-20 space-y-[6.25rem]">
            <h1
              class="text-[2rem] xs:text-[3rem] sm:text-[5rem] md:text-[6rem] lg:text-[8rem] xl:text-[10rem] leading-[0.90625] font-bold text-white text-center pb-[3.125rem]"
            >
              {data.hero.title}
              <span class="font-serif font-normal" set:html={data.hero.subtitle} />
              <br />
              in {data.hero.year}.
            </h1>
            <Button href={data.hero.scrollButton.href} scheme="midnight">
              {data.hero.scrollButton.text}
              <svg width="30" height="29">
                <circle cx="15" cy="14.5" r="14.5" class="fill-blue"></circle>
                <path
                  class="stroke-midnight stroke-[3px] fill-none"
                  d="M15.375 5.433v16.713M6.097 13.21l9.192 9.193 9.193-9.192"
                ></path>
              </svg>
            </Button>
          </div>
        </div>
      </section>
      <Quotes {...data.letter} />
      <img src="/images/intro.webp" width="2880" height="1288" class="w-full" />
      <Stats {...data.stats} />
      <Cards {...data.freshmen} />
      <section>
        <div class="container py-10 space-y-[3.75rem]">
          <hgroup class="text-[1.375rem] leading-[1.625rem] text-center">
            <h2 class="font-bold">{data.map.heading}</h2>
            <p>{data.map.subheading}</p>
          </hgroup>
          <svg
            id="map"
            width="1186"
            height="632"
            viewBox="0 0 1186 632"
            class="w-full h-auto"
          >
            <path
              class="fill-gray-fog-25"
              d="M567.113 613.623L544.835 611.817L527.373 603.392L519.544 589.248V578.716L511.416 572.096V567.583L501.781 560.662L498.168 551.634L493.952 545.315V538.997L488.532 535.988L480.103 529.67L476.188 525.456H470.166L463.241 523.65H461.435L457.219 526.059H452.402L450.596 531.174L448.488 538.095L443.973 542.008V543.512L437.951 542.91L432.23 538.696L427.413 536.589H424.403L418.682 530.87L416.574 529.969L412.66 523.65V517.631L409.047 512.214L407.24 508.301L404.532 504.991L401.22 502.284L397.607 500.78L394.296 498.673L387.974 491.149L384.361 487.538H381.05L377.738 481.219L373.223 477.909H341.309L337.998 488.14L284.406 489.645L204.021 462.56V456.842H179.333L173.011 458.648L164.582 460.755L157.959 461.357L153.743 456.844L151.635 448.118L148.926 442.098L142.002 434.876L130.862 430.061L128.754 424.946L125.744 422.538H118.518L114.603 420.129L105.872 414.411L95.3347 412.304L85.6993 413.808L83.8928 409.896V399.062L79.3778 392.743L77.8728 388.231L73.3578 384.017L59.2073 365.96V360.845L60.7123 357.535L60.4109 350.915H55.5943L48.3684 343.391L45.3584 331.053L33.9189 317.211V315.405H36.9289L21.2734 298.253L19.1655 286.819V274.481L8.32652 261.841L10.736 255.523H13.4445L8.32652 250.407L12.241 246.194L12.5425 241.379L12.844 235.061L14.6504 229.945L11.0375 222.12L10.736 218.207L6.52003 209.179V198.346L4.11057 191.726L6.52003 184.805L8.02503 178.486L10.4345 176.982L11.3365 169.458L14.0451 134.249L15.8516 127.931L14.3465 124.018L16.756 119.505L14.0475 114.089L16.1554 109.576L14.6504 96.635H24.2859L26.6953 98.1393L29.7053 96.635L26.0924 94.2267H16.7584L13.7484 92.421L13.1454 83.6942L15.854 89.4125L17.359 83.6942L19.1655 82.1899L18.2634 80.3843H14.349L13.746 75.8715H15.854L12.844 71.9589H11.0375L7.72596 58.7192L4.11298 47.2852L2.00501 43.6739L0.5 37.9557V31.9361L6.82151 33.7417L11.638 36.15L15.854 37.9557L21.5749 37.6543L24.8864 38.5559L29.7029 40.3616L33.9189 40.9643L39.3383 39.46L43.8534 47.2852L47.4663 49.0908L50.1749 43.9752L50.7778 41.5669L49.2728 40.0626L47.4663 33.4428L45.9613 31.9385H43.8534L42.3484 34.6458L46.5643 40.0626V41.8683L44.1548 39.7613L39.9389 34.6458L41.1424 29.8316L43.851 27.7246L44.1524 24.4147L43.5495 19.6005L38.733 15.3865L39.0344 11.4739H601.434L608.359 15.3865L610.768 11.4739V6.96107H607.457C607.457 6.96107 605.65 0.341243 606.854 0.0399028C608.057 -0.261437 612.575 1.24285 612.575 1.24285V10.8737L616.188 12.9806V16.2906L617.693 18.3975L621.306 19.6005L624.014 19.2991L633.348 23.5131L639.67 25.0174L644.486 22.3101L650.808 24.7184L652.916 25.3211L655.325 27.4281L656.83 28.631L660.142 29.2337H662.25V32.2423H665.863L667.971 31.0393L670.981 31.642L672.486 33.4476L675.194 34.9519L678.204 36.1549L680.011 38.5632L682.719 39.4648L686.935 39.1634L691.151 35.8535L694.161 34.9519L696.57 34.3492V36.7575L698.377 38.2618L700.786 39.1634H704.399L707.711 39.4648L714.032 39.7661L717.344 41.2704L726.376 42.4734L728.952 41.2535L732.097 39.7637L736.012 39.4624L740.228 40.364L744.142 37.3554V39.4624L740.831 42.471L738.122 43.6739L735.713 45.4795L733.906 47.2852H730.896L729.693 44.2766L720.057 44.8793L704.703 49.9948L690.553 61.1299L680.015 71.6623L672.488 77.6819L675.196 80.6905L682.724 79.7889L686.035 76.479H689.95L692.658 75.276L694.465 73.4704H696.573L697.776 77.0816L696.573 80.0902L695.671 83.0988L695.068 84.9044L698.379 83.4001L701.389 82.7974L710.422 83.6991L714.638 80.0878L717.047 78.5835L722.467 77.3806L726.08 76.479L728.188 73.4704L731.499 71.0621H733.306L744.145 64.4422L749.263 59.628L755.886 58.4251L759.197 58.7264L756.788 62.639L752.572 66.853L749.863 68.6586H746.25L743.841 69.5602L744.743 71.9685L745.946 75.8811L746.248 78.8897L750.763 75.2784L755.579 74.9771L761.602 78.287L765.215 80.6953L766.418 84.6079L768.828 87.9178L773.644 88.2191H779.667L782.978 87.0162H787.194L791.109 84.6079L793.518 82.8023L797.432 82.1996H807.668L810.678 80.394L815.193 79.7913H819.708L817.299 85.8108L819.708 86.7124L822.719 87.9154L825.427 88.817H829.341L831.449 90.02V97.2425L834.761 98.1441L837.17 99.6484L838.675 102.356L842.288 100.851L846.504 101.454V105.367C846.504 105.367 843.494 105.367 841.085 103.862C838.675 102.358 832.354 102.358 832.354 102.358H824.525L822.417 105.969L809.772 100.552L806.159 100.251L803.45 102.958L801.041 103.561H796.825L794.116 102.958L791.707 103.86L790.202 106.268L788.395 110.181L785.986 111.082L785.684 106.868L781.468 105.967L779.963 108.674L779.36 110.178L777.554 108.373L776.049 105.364L763.102 131.243L760.692 132.748L758.584 134.553L757.682 137.26L756.177 140.269L755.275 143.579H757.685L759.793 141.171L763.406 137.861L766.717 134.852L771.232 127.027L775.747 124.018L772.737 134.852L769.124 136.658L768.521 139.666L767.318 143.88L766.715 147.19V149.297L767.016 151.103V152.607L765.21 155.616L762.501 157.12L761.298 160.128L760.695 164.342L760.996 169.759L759.793 173.672L759.19 176.982L758.288 181.196L758.589 185.41C758.589 185.41 758.288 187.517 759.491 189.322C760.695 191.128 760.094 194.136 760.094 194.136L759.793 198.049L759.491 203.767L759.793 206.776L760.396 212.494L762.504 217.308L764.612 218.813L766.72 222.424L769.428 225.432L775.75 224.83L780.265 222.421L783.275 217.909L785.983 213.094L788.993 207.075L791.101 199.25L790.498 193.531C790.498 193.531 791.4 186.912 790.197 186.912C788.993 186.912 788.089 178.486 788.089 178.486L784.777 170.962L787.486 165.847L785.378 158.926L788.388 152.306L790.194 140.269L796.817 133.95L799.827 133.649L802.837 127.029L804.644 125.826L804.343 131.243L803.44 135.156L805.247 136.961L807.956 132.449L807.353 128.235L807.956 124.623L810.063 121.916L813.073 120.412H816.083L813.674 116.801L816.383 112.888L817.586 109.578L821.5 107.772L825.114 111.082L828.425 113.189L832.038 112.587L835.048 116.198L838.359 117.702L847.693 121.615L851.005 126.429V131.846L852.208 137.865V146.592L851.005 151.105L848.296 152.911L846.49 158.93L841.372 161.339L838.663 164.95V169.164L841.073 171.271L846.191 170.668L848.299 168.561L850.407 165.251L852.213 160.738L856.728 160.136H859.738L862.447 161.941L865.457 167.358L866.66 172.775V181.803L868.768 185.716V194.744L866.359 198.958L863.047 200.462L861.241 204.975L855.821 207.082L854.919 213.102L853.716 218.217L850.706 221.527L847.093 224.536L853.115 226.04L858.836 227.846L868.771 231.155L874.793 230.553L877.203 229.35H881.718L892.255 224.536L896.77 221.527L900.986 219.119L907.009 217.313L912.729 214.606L919.051 210.995L926.277 207.082L933.503 201.665L940.126 197.152L942.834 192.938L938.018 190.231L936.814 187.223L937.417 183.611L938.621 180.301L944.942 178.194L950.663 178.496L956.686 177.893L961.502 179.397L969.331 181.203L974.449 180.902H982.577L986.19 179.397L988.899 176.389L992.21 174.884H994.318L996.426 172.777V164.352L998.836 162.848V158.935L996.728 157.732L996.125 156.228L998.833 153.521L1003.65 149.307L1007.56 144.794L1012.38 139.98L1019 135.165L1024.42 132.458L1028.64 131.557L1032.25 131.255H1046.7L1088.85 130.052L1092.47 129.45L1094.88 127.041V124.033L1101.5 121.024L1105.72 121.926L1109.63 119.517L1111.13 115.605L1114.45 110.791L1118.66 107.481V96.3457L1123.48 88.2216V81.3004L1139.13 59.0326C1139.13 59.0326 1141.84 58.131 1142.75 58.4299C1143.65 58.7312 1144.86 64.4495 1144.86 64.4495V66.8578L1156.6 64.1505L1159.01 60.8406L1163.22 62.6463L1168.64 67.7618L1170.45 76.7899V111.396L1176.77 116.511V126.142L1183.09 127.044L1185.5 129.452L1182.79 132.461L1183.39 136.373L1182.79 139.08L1173.46 143.294L1170.45 142.692L1168.34 146.604L1165.03 149.013L1163.52 146.305L1161.11 146.004L1162.32 149.013L1159.91 151.72L1157.8 147.207L1155.39 149.914L1151.78 149.312L1150.57 144.196L1145.15 148.109L1143.95 156.835L1142.75 160.145L1139.74 158.942L1138.53 160.447L1135.83 160.145L1133.72 162.853L1128.6 161.951L1122.88 164.96L1121.07 168.872L1117.76 174.892L1115.65 176.697L1109.93 186.027L1108.43 194.754L1110.53 198.666L1106.02 201.675L1107.52 204.683L1112.04 208.897L1113.85 213.711V216.12L1114.45 218.227L1116.56 219.731L1119.57 221.537L1122.88 221.235L1124.08 218.528L1123.18 215.52L1120.77 213.413L1119.27 210.705L1122.88 211.908C1122.88 211.908 1124.99 212.81 1124.99 213.714C1124.99 214.618 1126.49 217.626 1126.49 217.626L1126.79 220.635L1124.38 223.342L1121.67 225.449L1118.36 225.751L1112.94 226.052L1111.44 224.548L1109.33 225.751L1110.23 230.565L1114.15 229.362L1115.05 232.37L1109.03 234.176L1108.73 231.167L1106.92 227.255L1103.61 228.157L1100.6 228.759L1098.49 227.556L1102.4 222.139L1099.39 222.742L1096.38 221.84L1096.08 228.762L1097.89 231.77L1099.09 233.576L1093.37 233.877L1088.55 234.178L1085.24 232.976L1076.21 235.083L1066.28 235.685L1056.34 240.198L1050.62 244.111L1047.31 245.916L1053.93 245.615L1058.45 245.012L1061.76 243.809L1068.08 244.111H1070.79L1075.3 242.908L1079.22 239.598L1085.84 238.093L1087.95 238.995L1085.54 244.111L1081.03 245.916L1072.6 248.023L1068.08 249.226L1062.96 250.73L1058.15 251.632L1051.52 252.534L1045.8 254.038L1038.88 255.542L1040.99 260.055L1044 263.365V267.278L1042.19 272.092L1040.08 273.897L1038.58 278.111L1037.97 280.819L1035.87 283.526L1035.26 285.331L1033.76 288.039L1031.35 289.844L1029.24 291.65L1028.34 293.456L1026.53 296.464L1024.72 298.872L1022.92 298.571L1022.62 296.163L1023.22 293.755L1019.91 291.648L1018.1 290.143L1016.6 289.242L1014.49 286.833L1011.78 285.028V282.921L1012.08 279.912L1009.37 282.619V286.231L1011.18 289.541L1012.68 291.949L1013.29 294.357L1014.79 297.366L1016.9 300.374L1019.01 301.879L1021.12 306.823L1021.72 310.904L1020.52 314.817L1018.71 319.33L1015.7 324.747L1012.99 326.854L1010.88 329.862L1008.17 333.172L1004.56 336.783L1003.96 340.395L1003.36 345.209L1000.35 344.606L1001.25 339.491L1002.15 334.978L1003.05 331.668L1005.16 328.659L1006.36 323.845L1004.86 322.642L1002.15 319.031L1005.46 316.022L1002.45 313.014L998.537 314.819L996.127 312.411L997.934 310.003L997.632 306.823L999.439 304.285L997.331 301.577L995.826 299.169L997.331 297.966L999.74 296.16L1000.04 294.053L997.032 294.355L996.13 292.248L999.14 290.744L1002.45 289.842V285.929L1004.26 283.222L1000.34 282.921L997.032 287.135L989.806 288.94V294.056L992.215 297.968L991.012 302.182L992.215 310.909L988.602 309.104L988.301 311.512L993.419 315.726L994.022 319.036L986.193 314.222L981.376 311.514L977.763 312.717V310.61L980.472 306.828L980.773 302.484L975.957 306.828L974.15 312.115L973.849 314.523L977.462 315.126L980.773 316.63L983.482 318.435L984.987 320.241L988.298 321.745L990.105 321.444L991.007 323.852L994.017 324.154L995.22 327.765V330.774L991.909 329.872H990.102L983.781 322.649L989.2 331.678L990.404 336.793L991.607 340.706L989.801 344.016L992.21 348.528L996.125 350.937L999.436 352.742L1003.65 351.238L1003.95 356.052L1001.25 358.461L1003.95 364.48L1005.16 367.79L1002.45 368.393L997.029 366.587L996.127 371.1L993.718 370.198L992.213 371.703L988.6 371.401L985.59 367.187V370.196L986.492 375.01L990.406 375.613L993.718 376.514L997.331 374.408L999.439 376.514L1001.25 377.117L1004.56 375.914L1006.66 378.021V381.934L1003.96 385.545L1002.45 389.759L997.333 390.362L992.818 387.953L990.11 384.945L985.293 386.449L982.283 387.953L984.992 390.362L989.808 391.866L982.884 395.477L982.281 399.088L987.399 400.593L989.205 399.99L993.421 399.088L995.529 403.601L990.11 406.309L985.293 407.813L978.971 406.007L977.466 407.512L971.145 411.123L966.027 418.948L963.919 424.666L960.909 426.472H952.781L948.867 428.277L944.952 430.686L943.749 432.491L939.834 436.705L938.028 440.015L935.018 443.928L932.91 446.936L929.598 450.548L925.684 454.46L919.362 457.77L913.34 459.877L910.93 459.576L907.016 460.477L907.619 463.486H904.609L901.9 466.193L901.599 469.202L897.684 473.416L895.878 474.018L895.576 477.63L893.468 481.241L892.566 487.861C892.566 487.861 893.468 489.365 892.868 490.269C892.265 491.171 888.652 493.88 888.652 493.88L889.554 497.793L888.951 500.801L889.853 507.12L888.348 511.633L901.295 542.027L902.8 548.346L903.101 553.461L907.016 551.656C907.016 551.656 910.327 553.763 910.327 554.664C910.327 555.566 908.219 557.974 908.219 557.974L907.616 562.188L916.95 587.165L918.455 595.29L918.757 602.512L917.553 608.831L916.95 613.645C916.95 613.645 916.347 616.352 916.048 617.256C915.747 618.158 913.94 620.867 913.94 620.867L913.038 623.575L912.136 626.583V628.991L912.438 632H900.697L898.89 630.797L897.084 629.594L898.589 627.487L895.579 624.177L894.375 619.664L893.473 616.957C893.473 616.957 889.86 614.85 888.958 614.549C888.056 614.247 885.345 612.743 885.345 612.743L883.539 610.636L882.335 607.025V604.318L879.926 601.909L879.024 600.104V596.493L878.722 594.084L874.506 588.366L875.109 593.482L873.303 591.676L870.594 589.268L868.788 584.755L867.584 581.746L866.682 579.338L867.886 576.329L869.692 572.417L869.391 566.698L866.981 567.301C866.981 567.301 865.778 568.504 865.778 569.408C865.778 570.312 866.079 573.321 866.079 573.321C866.079 573.321 864.876 576.329 865.476 574.825C866.079 573.321 862.768 570.011 862.768 570.011L862.165 567.602V563.991L863.67 563.09L866.079 558.577L866.381 553.16L865.778 548.346L863.67 544.734L861.562 542.027L858.25 540.222L856.142 538.115L851.024 531.796L849.519 528.788L845.303 526.681L843.798 521.866L840.487 518.858L836.572 518.255L831.454 517.652L828.746 520.061V521.565L823.326 524.574L819.412 526.982H816.402L810.08 528.486L808.575 526.078L807.372 522.165L804.663 519.157L802.254 517.05L799.844 515.847L793.523 512.537L789.008 512.236L780.88 511.934H773.352L770.644 510.731L768.837 509.227L765.224 511.934L763.116 514.041L756.192 514.644L757.697 512.236L756.493 508.624L755.89 504.111H753.782V508.926L752.579 510.731L748.363 511.033L743.547 511.334L740.235 511.937L734.816 512.238H730.6L728.793 513.441L726.085 515.548L721.869 516.45L720.364 514.343L719.16 512.236L707.721 511.934L705.914 514.343C705.914 514.343 705.613 516.148 705.914 517.05C706.216 517.951 709.527 518.253 709.527 518.253H712.839L716.753 517.351L718.258 518.855L721.871 520.36L726.386 520.661C726.386 520.661 727.891 521.563 727.891 522.467C727.891 523.371 726.085 525.475 726.085 525.475L724.278 528.182H720.364L719.761 529.687L720.364 531.191C720.364 531.191 721.266 531.794 722.17 532.394L723.072 532.997L727.889 536.005L730.597 538.414L733.306 539.315L731.801 541.723L728.188 543.529L724.273 539.616L721.864 537.51L718.552 535.704L716.143 532.394L712.53 530.287L710.12 531.49L711.625 534.197L711.324 536.605L714.032 539.313L711.022 541.721L708.613 541.42L707.108 539.011L696.872 538.71L692.357 538.409L689.948 536.302L688.744 533.893L688.443 531.186L686.636 532.088L682.722 531.186L680.312 529.983L677.001 532.992L673.388 531.186L671.883 529.983L666.162 530.885L659.84 529.983L652.916 528.479L648.099 526.071L645.69 525.468H641.775L637.861 526.37L629.13 529.077L624.313 531.184L620.399 533.291L615.884 535.998L615.582 537.804L608.356 540.812L605.648 543.821L602.939 545.928L599.628 548.336L596.919 550.744L593.005 552.851L585.779 555.86L583.671 553.153L586.08 551.648C586.08 551.648 586.08 548.941 585.178 548.941C584.276 548.941 581.264 550.747 581.264 550.747L579.156 552.251L581.264 555.862L577.048 558.871L573.736 555.862L573.133 559.775V562.183L568.618 564.89L566.51 563.386L565.608 565.192V568.502L566.211 573.015L561.093 570.908L561.395 573.916L562.297 576.023V579.634L561.093 582.043L558.684 580.84L555.975 582.043L558.985 584.15L559.588 588.663L560.792 593.477L560.189 598.291L561.091 602.204L562.596 607.62L566.209 611.232L567.111 613.64L567.113 613.623Z"
            ></path>
            <g class="fill-gray-fog">
              <circle cx="742.085" cy="191.085" r="8.085"></circle>
              <circle cx="749.085" cy="213.085" r="8.085"></circle>
              <circle cx="734.085" cy="226.085" r="8.085"></circle>
              <circle cx="726.085" cy="249.085" r="8.085"></circle>
              <circle cx="565.085" cy="238.085" r="8.085"></circle>
              <circle cx="788.085" cy="249.085" r="8.085"></circle>
              <circle cx="794.085" cy="282.085" r="8.085"></circle>
              <circle cx="832.085" cy="279.085" r="8.085"></circle>
              <circle cx="841.085" cy="249.085" r="8.085"></circle>
              <circle cx="861.085" cy="263.085" r="8.085"></circle>
              <circle cx="886.085" cy="263.085" r="8.085"></circle>
              <circle cx="894.085" cy="309.085" r="8.085"></circle>
              <circle cx="832.085" cy="322.085" r="8.085"></circle>
              <circle cx="836.085" cy="368.085" r="8.085"></circle>
              <circle cx="875.085" cy="390.085" r="8.085"></circle>
              <circle cx="895.085" cy="394.085" r="8.085"></circle>
              <circle cx="910.085" cy="376.085" r="8.085"></circle>
              <circle cx="944.085" cy="372.085" r="8.085"></circle>
              <circle cx="971.085" cy="376.085" r="8.085"></circle>
              <circle cx="949.085" cy="405.085" r="8.085"></circle>
              <circle cx="903.085" cy="418.085" r="8.085"></circle>
              <circle cx="894.085" cy="448.085" r="8.085"></circle>
              <circle cx="861.085" cy="460.085" r="8.085"></circle>
              <circle cx="845.085" cy="414.085" r="8.085"></circle>
              <circle cx="774.085" cy="402.085" r="8.085"></circle>
              <circle cx="778.085" cy="368.085" r="8.085"></circle>
              <circle cx="572.085" cy="485.085" r="8.085"></circle>
              <circle cx="587.085" cy="529.085" r="8.085"></circle>
              <circle cx="532.085" cy="534.085" r="8.085"></circle>
              <circle cx="266.085" cy="443.085" r="8.085"></circle>
              <circle cx="235.085" cy="418.085" r="8.085"></circle>
              <circle cx="166.085" cy="435.085" r="8.085"></circle>
              <circle cx="141.085" cy="413.085" r="8.085"></circle>
              <circle cx="129.085" cy="360.085" r="8.085"></circle>
              <circle cx="91.085" cy="368.085" r="8.085"></circle>
              <circle cx="67.085" cy="329.085" r="8.085"></circle>
              <circle cx="62.085" cy="287.085" r="8.085"></circle>
              <circle cx="34.085" cy="255.085" r="8.085"></circle>
              <circle cx="37.085" cy="105.085" r="8.085"></circle>
              <circle cx="854.085" cy="500.085" r="8.085"></circle>
              <circle cx="885.085" cy="542.085" r="8.085"></circle>
              <circle cx="881.085" cy="570.085" r="8.085"></circle>
              <circle cx="902.085" cy="609.085" r="8.085"></circle>
              <circle cx="825.085" cy="501.085" r="8.085"></circle>
              <circle cx="982.085" cy="352.085" r="8.085"></circle>
              <circle cx="971.085" cy="329.085" r="8.085"></circle>
              <circle cx="949.085" cy="321.085" r="8.085"></circle>
              <circle cx="959.085" cy="297.085" r="8.085"></circle>
              <circle cx="990.085" cy="285.085" r="8.085"></circle>
              <circle cx="1008.09" cy="271.085" r="8.085"></circle>
              <circle cx="1027.08" cy="271.085" r="8.085"></circle>
              <circle cx="1041.08" cy="241.085" r="8.085"></circle>
              <circle cx="1019.09" cy="249.085" r="8.085"></circle>
              <circle cx="974.085" cy="245.085" r="8.085"></circle>
              <circle cx="962.085" cy="196.085" r="8.085"></circle>
              <circle cx="986.085" cy="188.085" r="8.085"></circle>
              <circle cx="1031.08" cy="162.085" r="8.085"></circle>
              <circle cx="1047.08" cy="188.085" r="8.085"></circle>
              <circle cx="1072.08" cy="191.085" r="8.085"></circle>
              <circle cx="1094.08" cy="188.085" r="8.085"></circle>
              <circle cx="881.085" cy="235.085" r="8.085"></circle>
              <circle cx="850.085" cy="188.085" r="8.085"></circle>
              <circle cx="833.085" cy="207.085" r="8.085"></circle>
            </g>
            <g class="fill-blue">
              <path
                d="M861.352 223.017C852.729 223.017 845.738 230.011 845.738 238.636C845.738 247.262 855.681 264.781 861.352 264.781C867.022 264.781 876.965 247.264 876.965 238.636C876.965 230.008 869.974 223.017 861.352 223.017ZM861.352 244.232C858.263 244.232 855.758 241.726 855.758 238.636C855.758 235.546 858.263 233.04 861.352 233.04C864.44 233.04 866.945 235.546 866.945 238.636C866.945 241.726 864.44 244.232 861.352 244.232Z"
              ></path>
              <path
                d="M141.501 373.175C132.879 373.175 125.888 380.168 125.888 388.794C125.888 397.42 135.83 414.939 141.501 414.939C147.172 414.939 157.115 397.422 157.115 388.794C157.115 380.166 150.124 373.175 141.501 373.175ZM141.501 394.39C138.413 394.39 135.908 391.884 135.908 388.794C135.908 385.704 138.413 383.198 141.501 383.198C144.59 383.198 147.095 385.704 147.095 388.794C147.095 391.884 144.59 394.39 141.501 394.39Z"
              ></path>
              <path
                d="M265.539 402.627C256.916 402.627 249.925 409.621 249.925 418.246C249.925 426.872 259.868 444.391 265.539 444.391C271.209 444.391 281.152 426.874 281.152 418.246C281.152 409.618 274.161 402.627 265.539 402.627ZM265.539 423.842C262.45 423.842 259.945 421.336 259.945 418.246C259.945 415.156 262.45 412.65 265.539 412.65C268.627 412.65 271.132 415.156 271.132 418.246C271.132 421.336 268.627 423.842 265.539 423.842Z"
              ></path>
              <path
                d="M33.6323 215.533C25.01 215.533 18.019 222.527 18.019 231.153C18.019 239.778 27.9613 257.297 33.6323 257.297C39.3032 257.297 49.2455 239.781 49.2455 231.153C49.2455 222.524 42.2546 215.533 33.6323 215.533ZM33.6323 236.748C30.5434 236.748 28.0385 234.243 28.0385 231.153C28.0385 228.062 30.5434 225.557 33.6323 225.557C36.7211 225.557 39.226 228.062 39.226 231.153C39.226 234.243 36.7211 236.748 33.6323 236.748Z"
              ></path>
              <path
                d="M893.688 268.885C885.066 268.885 878.075 275.879 878.075 284.505C878.075 293.13 888.017 310.649 893.688 310.649C899.359 310.649 909.301 293.133 909.301 284.505C909.301 275.877 902.31 268.885 893.688 268.885ZM893.688 290.1C890.599 290.1 888.094 287.595 888.094 284.505C888.094 281.415 890.599 278.909 893.688 278.909C896.777 278.909 899.282 281.415 899.282 284.505C899.282 287.595 896.777 290.1 893.688 290.1Z"
              ></path>
              <path
                d="M836.013 326.341C827.391 326.341 820.4 333.335 820.4 341.96C820.4 350.586 830.342 368.105 836.013 368.105C841.684 368.105 851.626 350.588 851.626 341.96C851.626 333.332 844.635 326.341 836.013 326.341ZM836.013 347.556C832.924 347.556 830.419 345.05 830.419 341.96C830.419 338.87 832.924 336.364 836.013 336.364C839.102 336.364 841.607 338.87 841.607 341.96C841.607 345.05 839.102 347.556 836.013 347.556Z"
              ></path>
              <path
                d="M845.665 374.382C837.043 374.382 830.052 381.376 830.052 390.001C830.052 398.627 839.995 416.146 845.665 416.146C851.336 416.146 861.279 398.629 861.279 390.001C861.279 381.373 854.288 374.382 845.665 374.382ZM845.665 395.597C842.577 395.597 840.072 393.091 840.072 390.001C840.072 386.911 842.577 384.405 845.665 384.405C848.754 384.405 851.259 386.911 851.259 390.001C851.259 393.091 848.754 395.597 845.665 395.597Z"
              ></path>
              <path
                d="M875.106 349.034C866.484 349.034 859.493 356.027 859.493 364.653C859.493 373.279 869.435 390.798 875.106 390.798C880.777 390.798 890.72 373.281 890.72 364.653C890.72 356.025 883.729 349.034 875.106 349.034ZM875.106 370.249C872.018 370.249 869.513 367.743 869.513 364.653C869.513 361.563 872.018 359.057 875.106 359.057C878.195 359.057 880.7 361.563 880.7 364.653C880.7 367.743 878.195 370.249 875.106 370.249Z"
              ></path>
              <path
                d="M1040.65 202.014C1032.03 202.014 1025.04 209.008 1025.04 217.633C1025.04 226.259 1034.98 243.778 1040.65 243.778C1046.32 243.778 1056.26 226.262 1056.26 217.633C1056.26 209.005 1049.27 202.014 1040.65 202.014ZM1040.65 223.229C1037.56 223.229 1035.06 220.724 1035.06 217.633C1035.06 214.543 1037.56 212.038 1040.65 212.038C1043.74 212.038 1046.24 214.543 1046.24 217.633C1046.24 220.724 1043.74 223.229 1040.65 223.229Z"
              ></path>
              <path
                d="M989.732 244.02C981.11 244.02 974.119 251.013 974.119 259.639C974.119 268.264 984.061 285.784 989.732 285.784C995.403 285.784 1005.35 268.267 1005.35 259.639C1005.35 251.011 998.355 244.02 989.732 244.02ZM989.732 265.235C986.644 265.235 984.139 262.729 984.139 259.639C984.139 256.549 986.644 254.043 989.732 254.043C992.821 254.043 995.326 256.549 995.326 259.639C995.326 262.729 992.821 265.235 989.732 265.235Z"
              ></path>
              <path
                d="M974.288 205.877C965.666 205.877 958.675 212.871 958.675 221.496C958.675 230.122 968.617 247.641 974.288 247.641C979.959 247.641 989.901 230.124 989.901 221.496C989.901 212.868 982.91 205.877 974.288 205.877ZM974.288 227.092C971.199 227.092 968.694 224.586 968.694 221.496C968.694 218.406 971.199 215.9 974.288 215.9C977.377 215.9 979.882 218.406 979.882 221.496C979.882 224.586 977.377 227.092 974.288 227.092Z"
              ></path>
              <path
                d="M958.602 257.056C949.98 257.056 942.989 264.05 942.989 272.675C942.989 281.301 952.932 298.82 958.602 298.82C964.273 298.82 974.216 281.304 974.216 272.675C974.216 264.047 967.225 257.056 958.602 257.056ZM958.602 278.271C955.514 278.271 953.009 275.766 953.009 272.675C953.009 269.585 955.514 267.08 958.602 267.08C961.691 267.08 964.196 269.585 964.196 272.675C964.196 275.766 961.691 278.271 958.602 278.271Z"
              ></path>
              <path
                d="M944.365 332.376C935.742 332.376 928.751 339.37 928.751 347.996C928.751 356.621 938.694 374.141 944.365 374.141C950.036 374.141 959.978 356.624 959.978 347.996C959.978 339.368 952.987 332.376 944.365 332.376ZM944.365 353.592C941.276 353.592 938.771 351.086 938.771 347.996C938.771 344.906 941.276 342.4 944.365 342.4C947.454 342.4 949.958 344.906 949.958 347.996C949.958 351.086 947.454 353.592 944.365 353.592Z"
              ></path>
              <path
                d="M861.593 420.733C852.97 420.733 845.979 427.727 845.979 436.352C845.979 444.978 855.922 462.497 861.593 462.497C867.264 462.497 877.206 444.98 877.206 436.352C877.206 427.724 870.215 420.733 861.593 420.733ZM861.593 441.948C858.504 441.948 855.999 439.442 855.999 436.352C855.999 433.262 858.504 430.756 861.593 430.756C864.682 430.756 867.186 433.262 867.186 436.352C867.186 439.442 864.682 441.948 861.593 441.948Z"
              ></path>
              <path
                d="M853.629 462.014C845.007 462.014 838.016 469.008 838.016 477.633C838.016 486.259 847.958 503.778 853.629 503.778C859.3 503.778 869.243 486.262 869.243 477.633C869.243 469.005 862.252 462.014 853.629 462.014ZM853.629 483.229C850.54 483.229 848.036 480.724 848.036 477.633C848.036 474.543 850.54 472.038 853.629 472.038C856.718 472.038 859.223 474.543 859.223 477.633C859.223 480.724 856.718 483.229 853.629 483.229Z"
              ></path>
              <path
                d="M885.483 501.847C876.861 501.847 869.87 508.841 869.87 517.466C869.87 526.092 879.812 543.611 885.483 543.611C891.154 543.611 901.096 526.095 901.096 517.466C901.096 508.838 894.105 501.847 885.483 501.847ZM885.483 523.062C882.394 523.062 879.889 520.557 879.889 517.466C879.889 514.376 882.394 511.871 885.483 511.871C888.572 511.871 891.077 514.376 891.077 517.466C891.077 520.557 888.572 523.062 885.483 523.062Z"
              ></path>
            </g>
          </svg>
        </div>
      </section>
      <Cards {...data.seniors} />
      <img
        src="/images/interlude.webp"
        width="2880"
        height="1288"
        class="w-full"
        loading="lazy"
      />
      <section class="bg-midnight text-white">
        <div class="container py-[3.75rem] space-y-[2.375rem]">
          <hgroup class="text-[1.375rem] leading-[1.625rem] text-center">
            <h2 class="font-bold">{data.classNotes.heading}</h2>
            <p>{data.classNotes.subheading}</p>
          </hgroup>
          <ul class="grid sm:grid-cols-2 lg:grid-cols-3 gap-px bg-white/20">
            {
              data.quotes?.length &&
                data.quotes.map(({ text, name, title }) => (
                  <li class="bg-midnight">
                    <div class="group aspect-square flex flex-col justify-end p-[1.875rem] bg-white/5 duration-300 ease-in-out overflow-hidden hover:bg-304">
                      <blockquote
                        class="text-[2.5rem] xs:text-[3rem] sm:text-[2.5rem] xl:text-[3rem] font-serif tracking-[-0.04em] leading-[1] group-hover:text-midnight duration-300 ease-in-out"
                        set:text={text}
                      />
                      {(name || title) && (
                        <div class="[interpolate-size:allow-keywords] opacity-0 h-0 group-hover:h-max group-hover:opacity-100 duration-300 ease-in-out">
                          <p
                            class="text-midnight pt-[1.6875rem] leading-[1.8125rem] text-[1.5rem] font-bold tracking-[-0.04em]"
                            set:html={[name, title].join('<br> ')}
                          />
                        </div>
                      )}
                    </div>
                  </li>
                ))
            }
          </ul>
        </div>
      </section>
      <section class="overflow-hidden">
        <div class="container pt-[3.75rem] pb-10 space-y-5 text-center">
          <hgroup
            class="text-[1.375rem] leading-[1.625rem] max-w-[60.3125rem] mx-auto text-midnight"
          >
            <h2 class="font-bold">{data.yearInReview.heading}</h2>
            <p>{data.yearInReview.description}</p>
          </hgroup>
          <ol class="space-y-5">
            {
              data.moments.map(({ date, heading }, index) => {
                const dir = resolve(`public/images/moments/${date}`)
                let images

                if (existsSync(dir)) {
                  images = readdirSync(dir)
                    .filter((image) => !image.startsWith('.'))
                    .map((image) => ({
                      src: `/images/moments/${date}/${image}`,
                    }))
                }

                return (
                  <li class="flex flex-col items-center gap-y-5">
                    {index > 0 && <div class="h-[12.25rem] w-px bg-gray-fog" />}
                    {(date || heading) && (
                      <h3
                        class="text-[3rem] leading-[1] tracking-[-0.04em] font-serif text-midnight"
                        set:html={[
                          new Intl.DateTimeFormat('en-US', {
                            timeZone: 'UTC',
                            month: 'long',
                            day: 'numeric',
                            year: 'numeric',
                          }).format(new Date(date)),
                          heading,
                        ].join('<br> ')}
                      />
                    )}
                    {images?.length ? (
                      <Pile class="z-10" images={images} />
                    ) : (
                      ''
                    )}
                  </li>
                )
              })
            }
          </ol>
        </div>
      </section>
      <Quotes {...data.testimonials} />
      <img
        src="/images/outro.webp"
        width="2880"
        height="1288"
        class="w-full"
        loading="lazy"
      />
      <section class="bg-blue">
        <div class="container text-white space-y-10 py-10 font-bold">
          <div>
            <p class="flex flex-col">
              <span
                class="text-[1.5rem] sm:text-[2rem] md:text-[3rem] leading-[1] tracking-[-.06em] text-midnight"
                >{data.footer.callToAction.prefix}</span
              >
              <span
                class="py-[0.124em] text-[2.75rem] xs:text-[4.25rem] sm:text-[5.75rem] md:text-[6.75rem] lg:text-[9rem] xl:text-[11rem] 2xl:text-[12.5rem] leading-[0.890] tracking-[-0.06em]"
              >
              <span class="block">{data.footer.callToAction.line1}</span>
              <span class="block">
                {data.footer.callToAction.line2}
                <span class="inline-flex items-baseline"><S />ee</span>
              </span>
              <span class="block text-right">{data.footer.callToAction.line3}</span>
            </p>
            <p
              class="text-[1.5rem] sm:text-[2rem] md:text-[3rem] leading-[1.208] tracking-[-.06em]"
            >
              {data.footer.callToAction.suffix}
            </p>
          </div>
          <Button
            target="_blank"
            href={data.footer.spotifyButton.url}
          >
            {data.footer.spotifyButton.text}
          </Button>
          <hr class="border-t-2 border-304" />
          <div class="flex justify-between gap-x-5">
            <p
              class="text-[1.125rem] tracking-[-0.06em] leading-[1.375rem] font-medium text-balance"
            >
              © {new Date().getFullYear()} SimpsonScarborough. All rights reserved.
            </p>
            <Social />
          </div>
        </div>
      </section>
    </main>
  </body>
</html>

<style>
  @font-face {
    font-family: 'TRJN DaVinci';
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: url('/fonts/TRJNDaVinci-Thin.woff') format('woff');
  }

  @font-face {
    font-family: 'TRJN DaVinci';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url('/fonts/TRJNDaVinci-Light.woff') format('woff');
  }

  @font-face {
    font-family: 'TRJN DaVinci';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('/fonts/TRJNDaVinci-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'TRJN DaVinci';
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: url('/fonts/TRJNDaVinci-RegularItalic.woff') format('woff');
  }

  @font-face {
    font-family: 'TRJN DaVinci';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('/fonts/TRJNDaVinci-Medium.woff') format('woff');
  }

  @font-face {
    font-family: 'TRJN DaVinci';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url('/fonts/TRJNDaVinci-Semibold.woff') format('woff');
  }

  @font-face {
    font-family: 'TRJN DaVinci';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url('/fonts/TRJNDaVinci-Bold.woff') format('woff');
  }

  @font-face {
    font-family: 'TRJN DaVinci';
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: url('/fonts/TRJNDaVinci-Heavy.woff') format('woff');
  }
</style>

<script>
  import Alpine from 'alpinejs'
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'

  gsap.registerPlugin(ScrollTrigger)

  gsap
    .timeline({
      scrollTrigger: {
        trigger: '#map',
        start: 'top bottom',
        end: 'top top',
        scrub: 0,
      },
    })
    .from('#map circle', {
      opacity: 0,
      delay: () => Math.random(),
    })
    .from('#map g path', {
      opacity: 0,
      delay: () => Math.random(),
    })
</script>
