---
const { heading, subheading, items } = Astro.props;
---

<section x-data="Stats" class="stats bg-midnight">
  <div class="container py-10 flex flex-col gap-y-2.5">
    <hgroup class="text-white text-[1.375rem] leading-[1.625rem] text-center">
      <h2 class="font-bold">{heading}</h2>
      <p>{subheading}</p>
    </hgroup>
    <ul
      class="contents
      [&>li]:text-[1.75rem] [&>li]:leading-[1.201] [&>li]:font-bold [&>li]:tracking-[-0.04em]
      xs:[&>li]:text-[2.5rem]
      sm:[&>li]:text-[4rem]
      md:[&>li]:text-[4.5rem]
      lg:[&>li]:text-[5rem]
      xl:[&>li]:text-[6rem]
      2xl:[&>li]:text-[7rem]"
    >
      {items.map(({ text, color, alignRight }) => (
        <li class={`text-${color}${alignRight ? ' text-right' : ''}`}>{text}</li>
      ))}
    </ul>
  </div>
</section>

<script>
  import Alpine from 'alpinejs'
  import { gsap } from 'gsap'

  Alpine.data('Stats', () => ({
    init() {
      for (const el of this.$el.querySelectorAll('li')) {
        el.innerHTML = el.innerText
          .split('')
          .map((letter, index) =>
            /\S/.test(letter)
              ? `<span class="opacity-0">${letter}</span>`
              : letter
          )
          .join('')

        gsap
          .timeline({
            scrollTrigger: {
              trigger: el,
              start: 'top center',
              end: 'top center',
              once: true,
            },
          })
          .to(el.querySelectorAll('span'), {
            opacity: 1,
            stagger: 0.05,
            duration: 0,
            ease: 'none',
          })
      }
    },
  }))
</script>
